/* === Site-wide styles === */
:root {
  --branding-blue: rgb(79,169,255); /* logo blue */
  --branding-pink: rgb(255,41,152); /* logo pink */
  --color-dark-blue: #6699cc; /* duller blue */
  --color-dark-pink: #ff3399; /* duller pink */
}
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  /* border: red solid 1px; */
}
body {
  font-family: 'PT Sans', sans-serif;
  color: black;
  background: white;
  min-width: 280px;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
a {
  text-decoration: none;
  color: #6699cc; /* logo blue */
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-shadow: none;
}
a:hover, a:focus, a:active {
  color: #ff3399; /* logo pink */
}

/* Header Branding */
header .branding {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #000;
}
header .branding h1 {
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
}
header .branding .logo-text {
  display: inline-block;
}
header .branding .logo-text .logo-k {
  color: var(--branding-blue);
}
header .branding .logo-text .logo-12 {
  color: var(--branding-pink);
}

/* Header Navs */
header nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
header nav > ul > li {
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  color: #fff;
  padding: 0.5em 1em;
  width: 50%;
}
header nav > ul > li .submenu {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.7em;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.nav-main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-main-item i {
  margin: 0 0.5em;
}
/* Header Nav: About */
header nav .nav-about {
  background: var(--color-dark-blue);
}
/* Header Nav: Listen */
header nav .nav-listen {
  background: var(--color-dark-pink);
}
header nav .nav-listen .submenu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* Header Nav interactivity */
header nav .nav-about,
header nav .nav-listen {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header nav .nav-about:hover,
header nav .nav-listen:hover {
  width: 200%;
}
header nav .nav-about:hover .submenu,
header nav .nav-listen:hover .submenu {
  height: 10em;
  max-height: 50vh;
}


/* Main Content */
.episode-container,
.episode-primary,
.episode-img-container {
  padding: 0.5em;
}
.episode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.episode-primary, .episodes-other {
  width: 50%;
}
.episode-primary iframe {
  height: auto;
  min-height: 500px;
}
.episodes-other > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.episodes-other > div .episode-img-container {
  width: 50%;
}
.episodes-other > div .episode-img-container img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* Footer */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}
footer nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 77rem;
  margin: auto;
}
footer nav ul li {
  margin: 0 3em;
}

/* ===Template-specific styles === */



/* Mobile styling */
